<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrocaBaseGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TrocaBaseGUI.NET8.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrocaBaseGUI.Properties.Settings>
            <setting name="dbDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ConexaoFileMem" serializeAs="String">
                <value />
            </setting>
            <setting name="Conexao" serializeAs="String">
                <value />
            </setting>
            <setting name="TabSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RbSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoricoMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ExeFileMem" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalSqlServerMem" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalOraServerMem" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalOraPasswordMem" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalOraPortMem" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasesMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ConexaoFileServiceMem" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalOraInstanceMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSqlServerMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSqlServerPasswordMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSqlServerUsernameMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerOraServerMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerOraPasswordMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerOraPortMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerOraInstanceMem" serializeAs="String">
                <value />
            </setting>
        </TrocaBaseGUI.Properties.Settings>
        <TrocaBaseGUI.NET8.Properties.Settings>
            <setting name="dbDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ConexaoFileMem" serializeAs="String">
                <value />
            </setting>
            <setting name="Conexao" serializeAs="String">
                <value />
            </setting>
            <setting name="TabSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RbSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoricoMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ExeFileMem" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlServerMem" serializeAs="String">
                <value />
            </setting>
            <setting name="OraServerMem" serializeAs="String">
                <value />
            </setting>
            <setting name="OraPasswordMem" serializeAs="String">
                <value />
            </setting>
            <setting name="OraPortMem" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasesMem" serializeAs="String">
                <value />
            </setting>
            <setting name="ConexaoFileServiceMem" serializeAs="String">
                <value />
            </setting>
        </TrocaBaseGUI.NET8.Properties.Settings>
    </userSettings>
</configuration>