<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TrocaBaseGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <TrocaBaseGUI.Properties.Settings>
      <setting name="dbDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ConexaoFileMem" serializeAs="String">
        <value />
      </setting>
      <setting name="Conexao" serializeAs="String">
        <value />
      </setting>
      <setting name="TabSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RbSelected" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HistoricoMem" serializeAs="String">
        <value />
      </setting>
      <setting name="ExeFileMem" serializeAs="String">
        <value />
      </setting>
      <setting name="SqlServerMem" serializeAs="String">
        <value />
      </setting>
    </TrocaBaseGUI.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>